.form-main{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(191, 191, 191); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/img1.png') center/cover;
}
.form-head{
    padding: 1rem;
/* width: 50%; */
    /* border: 2px solid red; */
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(243, 242, 242);
    background-color:#0d3c53 ;
    border-radius: 1rem;
    
}
.form-body{
    text-align: center;
    padding: 3rem;
    color: white;
    border-radius: 1rem;
    width: 50vw;
    /* height: 80vh; */
    /* border: 1.5px solid #9EC8B9; */
    margin: auto;
    background: linear-gradient(45deg,#0d3c53,black);
    background:none;
    background-color: rgba(0, 0, 0, 0.313);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 1px 1px 10px 0 rgb(0, 0, 0);
}
.form-body input{
    width: 40%;
    background: none;
    border: none;
    outline: none;
    padding: 8px 0 1px 4px;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgb(185, 249, 185);
    color: white;
}
.form-body p{
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}
.form-body button{
    padding: 0.4rem 1rem;
    background-color: green;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.go-back{
    margin-top: 1rem;
    /* padding: 0.7rem; */
    /* border: 2px solid red; */
    
}
.link{
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    color: rgb(4, 59, 239);
    color: black;
    background-color: rgb(0, 174, 255);
    border-radius: 0.45rem;
}